<html>
<head>
   <style>
body {
  background-color: hsl(89, 43%, 51%);
}
</style>
<style>
   #SearchBar{
             margin-left: 10%;
             width: 6%;
            }
            #labels{
                margin-left: 19%;
            }
</style>
</head>
<body>
   <div>
<h2 style="background-color:LightGray;font-family:tahoma;text-align: center;">Quiz 2</h2>
<h2 style="background-color:LightGray;font-family:tahoma;text-align: center;">Archana Turaga, ID: 1001859014</h2>
<h2 style="background-color:LightGray;font-family:tahoma;text-align: center;">Cloud Computing (ADB)</h2>
   </div>
   
<div>
<p>
    <form action="/five" method="post">
        The time2 range 7000 to 8010 in net ci details and largest 3 earthquakes <input type="submit" value="Search">
    </form>
</p>
   </div>   
   <div>
<p>
 <form action="/six" method="post">
     earthquakes between lat range 33.1348333 and 44.4863333 | long range between -117.6758333 and -64.8555 with mag greater than 4<input type="submit" value="Search">
    </form>
</p>
   </div>
<div>
<p>
 <form action="/seven" method="post">
     Earthquakes in range of time2 7200 and 7800, with net nc and mag greater then 2 <input type="submit" value="Search">
    </form>
</p>
</div>
</body>
</html>
